<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PaymentServiceSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentServiceSoap2">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentServiceSoap3" />
                <binding name="PaymentServiceSoap1" />
                <binding name="PaymentServiceSoap4">
                    <security mode="Transport" />
                </binding>
                <binding name="PaymentServiceSoap5" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://www.corsasa.com:8443/PaymentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PaymentServiceSoap2"
                contract="conBol.PaymentServiceSoap" name="PaymentServiceSoap1" />
            <endpoint address="https://www.parkauto.com.mx:8443/PaymentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PaymentServiceSoap4"
                contract="cons.PaymentServiceSoap" name="PaymentServiceSoap2" />
            <endpoint address="https://parkauto.com.mx:4433/PaymentService.asmx"
                binding="basicHttpBinding" bindingConfiguration="PaymentServiceSoap"
                contract="PaymentServicerReference.PaymentServiceSoap" name="PaymentServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>